* {
	font-size: 14px;
	font-family: JetBrains Mono;
}

window#waybar {
	background: #282828;
	color: #83a598;
}

#tags {
	background: #1d2021;
}
#tags button {
	padding: 0 6px;
	color: #3c3836;
}
#tags button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#tags button:hover {
	background: #7c6f64;
	border: #7c6f64;
	padding: 0 6px;
}
#tags button.occupied {
	color: #ebdbb2;
}
#tags button.focused {
	color: #83a598;
}
#tags button.urgent {
	color: #fe8019;
}

#layout {
	background: #1d2021;
	padding: 4 5px;
}

#custom-separator.1 {
	color: #1d2021;
	background: #1d2021;
	font-size: 8px;
}
#custom-separator.2 {
	color: #282828;
	background: #282828;
	font-size: 14px;
}

#custom-left-arrow-dark,
#custom-right-arrow-dark {
	color: #1d2021;
	font-size: 20px;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #282828;
	font-size: 20px;
	background: #1d2021;
}

#idle_inhibitor {
	color: #689d6a;
	background: #1d2021;
}
#memory {
	color: #458588;
	background: #1d2021;
}
#cpu {
	color: #d79921;
	background: #1d2021;
}
#clock {
	color: #cc241d;
	background: #1d2021;
}
#image {
	background: #1d2021;
}
#cava {
	color: #b16286;
	background: #1d2021;
}

#idle_inhibitor,
#cava,
#clock,
#memory,
#cpu, 
#battery,
#date 
#image {
	padding: 0 10px;
}
